[submodule "lib/ai-registry-mech"]
	path = lib/ai-registry-mech
	url = https://github.com/valory-xyz/ai-registry-mech
[submodule "lib/autonolas-registries"]
	path = lib/autonolas-registries
	url = https://github.com/valory-xyz/autonolas-registries
